name: Giskard-CI-CD

on:
  pull_request:
    paths:
      - 'data/**'
      - 'model/**'
      - 'giskard_validation.py'
    branches:
      - main

permissions:
  contents: read

jobs:
  run-giskard-test-suite:
    name: Giskard-Test-Suite
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pipenv

      - name: Install dependencies
        working-directory: .
        run: pipenv install --system --deploy

      - name: Execute Giskard Test Suite
        run: python giskard_validation.py

      - name: Debugging TEST_RESULT
        run: |
          echo "TEST_RESULT: ${{ env.TEST_RESULT }}"
          echo "TEST_RESULT raw content: $(echo $TEST_RESULT)"
      
      - name: PR comment
        uses: actions/github-script@v6
        with:
          script: |
            try {
              const issue_number = context.payload.pull_request ? context.payload.pull_request.number : null;
              if (issue_number) {
                if (!process.env.TEST_RESULT) {
                  console.log("No TEST_RESULT found.");
                  return;
                }
                let testResults;
                try {
                  testResults = JSON.stringify(JSON.parse(process.env.TEST_RESULT), null, 2);
                } catch (error) {
                  console.log("Error parsing TEST_RESULT:", error.message);
                  return;
                }
                github.rest.issues.createComment({
                  issue_number: issue_number,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  body: `Test Suites Results:\n\n\`\`\`json\n${testResults}\n\`\`\``
                });
              } else {
                console.log("No issue number found. This may not be a pull request event.");
              }
            } catch (error) {
              console.log("Error in PR comment action:", error.message);
            }
